<% if product.inventory_count? %>
<div>
	<p><%= product.inventory_count %> in stock.
</div>
<% else %>
<div>
	<p>Out of stock!</p>
	<p>Email me when available</p>
	<%= form_with model: [ product, Subscriber.new] do |form| %>
		<div>
			<%= form.label :email %>
			<%= form.email_field :email %>
		</div>
		<div>
			<%= form.submit "Subscribe" %>
		</div>
</div>
<% end %>